<div class="colors">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="fond">
  <br>
  <div class=" sign-box">
    <form>
      <label>Adresse de messagerie</label>
      <input type="text" class="form-control input-sign" placeholder="Adresse de messagerie">
      <br>
      <label>Mot de passe</label> <a href=""> Vous avez oublié votre mot de passe? </a>
      <input type="password" class="form-control input-sign" placeholder="Mot de passe">
     <br>
      <button class="btn" type="submit" routerLink="../Coord/candidatures">Se connecter</button>
    </form>
    <div class="divider">
        <h2>OU</h2>
    </div>
    <div>
      <p class="footer-sign">Vous n’avez pas de compte ?</p> <a routerLink="/signUp"> Inscrivez-vous maintenant</a>
    </div>
  </div>

</div>