<div class="col-md-12">
        <br><br>
        <div class="box row ">
    
    <!-- chiffres-->
            <div class="col-md-5">
                    <div class="stat" >
                        <div class="icone">
                            <i class="fas fa-users fa-3x"></i>
                        </div>
                        <div class="chiffre">
                            <label>1500</label>
                            <p>Utilisateurs  </p>
                          </div>
                    </div>
                    <div class="stat" >
                        <div class="icone">
                            <i class="fab fa-elementor fa-3x"></i>
                        </div>
                        <div class="chiffre">
                            <label>1500</label>
                            <p>Canditatures  </p>
                        </div>
                    </div>
    
                    <div class="stat" >
                        <div class="icone">
                                <i class="far fa-newspaper fa-3x"></i>
                        </div>
                        <div class="chiffre">
                            <label>1500</label>
                            <p>Articles  </p>
                        </div>
                    </div>
    
            </div>
    
    <!--     camembert-->
    
            <div class="col-md-6">
                <div class="row text-center">
                 <label> Etat des candidatures</label>
                </div> 
                <div class="row">
                    <img src="../assets/Syrine.png" class="img-responsive img-stat">
                </div>
                <div class="row">

                </div>
                   
                  
            </div>
        
    
    
        </div>
    </div> 