<nav class="nav navbar ">
  <div class="  col-md-3 col-sm-5 col-xs-6">
    <a routerLink = "home">
    <img src="../assets/CNEUF1.png" class="img-responsive logo">
  </a>
  </div>
  <div  class=" col-md-2 col-xs-5 pull-right cnx" *ngIf="!isLoggedIn">
     <a routerLink="/signIn" >Se connecter</a>
     <br>
     Pas encore inscrit ?
    <a routerLink="/signUp">Inscrivez-vous </a>
    </div>
      <div  class="  hidden-xs test cnx pull-right " *ngIf="isLoggedIn">
          <div class="row profil">
         <ul class=" pull-right">
             <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img class="img-responsive user" src="../assets/user.png"> &nbsp;&nbsp; Bienvenue {{info.username}} <b class="caret"></b></a>
                 <ul class="dropdown-menu">
                     <li><a href=""><i class="fas fa-user"> </i> Mon Profil</a></li>
                     <li> <a (click)= " logout()"><i class="fas fa-sign-out-alt"></i>  Se déconnecter</a> </li>
                 </ul>
             </li>
         </ul>


          </div>

     </div>

     <div  class="visible-xs test cnx pull-right " *ngIf="isLoggedIn">
             <div class="row profil">
                     <ul class=" pull-right">
                         <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <img class="img-responsive user" src="../assets/user.png">  <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                                 <li><a href=""><i class="fas fa-user"> </i> Mon Profil</a></li>
                                 <li> <a (click)= " logout()"><i class="fas fa-sign-out-alt" ></i>  Se déconnecter</a> </li>
                             </ul>
                         </li>
                     </ul>


                      </div>

     </div>
</nav>
