<div class="col-md-12">
    <br> <br>
    <div class="box">
        <div class="row print">
            <br> <br>
            <button (click)=print() type="submit" class="btn btn1 pull-right"><i class="fas fa-print"> </i> Imprimer</button>
        </div>
        <div class="box-title" id="box-title" >
            <h3 class="">Informations CNEUF</h3>
            <hr>
        </div>
    <p> <b>Intitulé du projet CNEUF : </b>{{cand.nom_projet}}</p>
    <p> <b>Présentation du projet CNEUF : </b>{{cand.presentation}}</p>
    <p> <b>Nom du porteur du projet : </b>{{cand.nom_porteur_projet}}</p>
    <p> <b>Direction régionale de rattachement : </b>{{cand.direction_reg}}</p>
    <p> <b>Date de mise en route prévue : </b>{{cand.date_debut}}</p>
    <p> <b>Durée prévue du projet : </b>{{cand.duree}}</p>
    <p> <b>Montant global du projet sur toute sa durée en euros : </b>{{cand.montant_global}}</p>
    <p> <b>Montant demandé à l'AUF en euros sur toute sa durée : </b>{{cand.montant_auf}}</p>

    <div class="box-title" id="box-title">
        <hr>
        <h3 class="">Contexte et justification du projet</h3>
        <hr>
    </div>

    <p> <b>Contexte et environnement de l'évolution du projet : </b>{{cand.contexte}}</p>
    <p> <b>Objectifs : </b>{{cand.objectif}}</p>
    <p class="print"> <b>Cadre logique : </b> <a href="src\assets\Cadre logique du projet.docx" download="Cadre logique du projet.docx" > <i class="fas fa-download"></i> Cliquez ici pour télécharger le fichier joint </a></p>
    <p > <b>Localisation des infrastructures mobilisées pour le projet : </b>{{cand.localisation}}</p>
    <p class="print"> <b>Les plans : </b> <a href="src\assets\Cadre logique du projet.docx" download="Cadre logique du projet.docx" > <i class="fas fa-download"></i> Cliquez ici pour télécharger le fichier joint </a></p>
    <p> <b>Stratégie de communication : </b>{{cand.stratg_comm}}</p>
    <p> <b>Stratégie de pérrennisation : </b>{{cand.stratg_perren}}</p>
    <p> <b>Gouvernance du projet CNEUF : </b>{{cand.gouvernance}}</p>
    <p> <b>Organisation opérationnelle : </b>{{cand.org_opera}}</p>
    <p> <b>Date de transfert à un partenaire : </b>{{cand.date_transfert}}</p>

    <div class="box-title" id="box-title">
            <hr>
            <h3 class="">Partenaires</h3>
            <hr>
    </div>

    <div class=" small-box">
        <p> <b>Institution du correspondant du projet : </b>syrinecneuf</p>
        <p> <b>Nom et prénom du correspondant du projet : </b>syrinecneuf</p>
        <p> <b>Fonction : </b>syrinecneuf</p>
        <p> <b>Téléphone : </b>syrinecneuf</p>
        <p> <b>Email : </b>syrinecneuf</p>
        <p> <b>Adresse : </b>syrinecneuf</p>
        <p> <b>Ville et Code postal : </b>syrinecneuf</p>
        <p> <b>Pays : </b>syrinecneuf</p>
        <p class="print"> <b>Document de présentation du partenaire : </b> <a href="src\assets\Cadre logique du projet.docx" download="Cadre logique du projet.docx" > <i class="fas fa-download"></i> Cliquez ici pour télécharger le fichier joint </a></p>
        <p class="print"> <b>Lettre d'engagement du partenaire : </b> <a href="src\assets\Cadre logique du projet.docx" download="Cadre logique du projet.docx" > <i class="fas fa-download"></i> Cliquez ici pour télécharger le fichier joint </a></p>

    </div>

    <div class="box-title" id="box-title">
            <hr>
            <h3 class="">Eléments financiers </h3>
            <hr>
    </div>

    <p> <b>Budget global recettes  : </b></p>
        <i class="description"> La présence d'une * à droite du montant pour signifier qu’il s’agit d’un apport en nature
        (personnel mis à disposition, locaux mis à disposition, etc.<br></i>
        <br>
    <div class="table-responsive">
            <table class="table table-bordered">
               <tr>
                   <th></th>
                   <th>Recettes</th>
                   <th>Année 1</th>
                   <th>Année 2</th>
                   <th>Année 3</th>
                   <th>Année 4</th>
               </tr>
               <tr>
                   <td rowspan="3" class="titre-table" >AUF</td>
                   <td>Fonctionnement</td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
               <tr>
                   <td>Investissement</td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                </tr>
               <tr>
                   <td>Personnel</td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                </tr>

               <tr>
                    <td rowspan="3" class="titre-table" >Partenaire 1</td>
                    <td>Fonctionnement</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Investissement</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
     </table>
     </div>

    <p> <b>Budget global dépenses   : </b></p>
     <div class="table-responsive">
            <table class="table table-bordered">
               <tr>
                   <th class="col-md-3 col-xs-5">Dépenses</th>
                   <th>Année 1</th>
               </tr>
               <tr>
                    <td class="titre-table" >Fonctionnement <br> <i class="description">(consommable, vacations, détaillez par nature) </i></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="titre-table" >Investissement <br><i class="description">(détail des équipements prévus)</i></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="titre-table" >Personnel <br> <i class="description">(indiquez le côut chargé par niveau / type / grade)</i> </td>
                    <td></td>
                    </tr>
                <tr>
                        <td class="titre-table">Total  </td>
                        <td></td>
                </tr>
            </table>
    </div>

    <div class="table-responsive">
            <table class="table table-bordered">
               <tr>
                   <th class="col-md-3 col-xs-5">Dépenses</th>
                   <th>Année 2</th>
               </tr>
               <tr>
                    <td class="titre-table" >Fonctionnement <br> <i class="description">(consommable, vacations, détaillez par nature) </i></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="titre-table" >Investissement <br><i class="description">(détail des équipements prévus)</i></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="titre-table" >Personnel <br> <i class="description">(indiquez le côut chargé par niveau / type / grade)</i> </td>
                    <td></td>
                    </tr>
                <tr>
                        <td class="titre-table">Total  </td>
                        <td></td>
                </tr>
            </table>
    </div>

 <div class="box-title" id="box-title">
            <hr>
            <h3 class="">Autres documents </h3>
            <hr>
</div>
<p class="print"> <b>Devis estimatifs des travaux à réaliser : </b> <a href="src\assets\Cadre logique du projet.docx" download="Cadre logique du projet.docx" > <i class="fas fa-download"></i> Cliquez ici pour télécharger le fichier joint </a></p>
<p class="print"> <b>Budget prévisionnel détaillé par activité : </b> <a href="src\assets\Cadre logique du projet.docx" download="Cadre logique du projet.docx" > <i class="fas fa-download"></i> Cliquez ici pour télécharger le fichier joint </a></p>
<p class="print"> <b>Type d'équipement demandé : </b> <a href="src\assets\Cadre logique du projet.docx" download="Cadre logique du projet.docx" > <i class="fas fa-download"></i> Cliquez ici pour télécharger le fichier joint </a></p>
<p class="print"> <b>Charte de qualité signée : </b> <a href="src\assets\Cadre logique du projet.docx" download="Cadre logique du projet.docx" > <i class="fas fa-download"></i> Cliquez ici pour télécharger le fichier joint </a></p>
<br>
<hr>
<br>
<div class="row print">
        <div class="text-center">
            <button class=" btn btn1fin " name="" type="submit"> <i class="fas fa-edit"> </i>  Remettre en brouillon</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button class=" btn btn1" name="" type="submit"> <i class="fas fa-check"> </i> &nbsp;Consolider</button>
        </div>
</div>

</div>
</div>
