<div class="col-md-12">
  <br><br>
  <div class="box">

    <h4>Liste des canditatures</h4>

    <div class="row ">
      <div class="pull-right">
      <label>Trier par</label>
        <select class="form-control" formControlName="direction_reg">
            <option value="" selected="selected">---</option>
            <option value="">Les plus récentes</option>
            <option value="">Les plus anciennes</option>
    </select>
    </div>
  </div>
<br>
<br>
    <div class="row ">
        <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                  <th>Ref</th>
                  <th>Intitulé du CNEUF</th>
                  <th>Porteur de projet</th>
                  <th>Direction régionale</th>
                  <th>Etat</th>
                  <th>Action</th>
              </tr>
              <tr>
                  <td>256</td>
                  <td>cneuf1</td>
                  <td>proteur1</td>
                  <td>drec</td>
                  <td class="text-center"><i title="Brouillon" class="fas fa-edit" style="color:#702381;"></i></td>
                  <td class="text-center"><a href=""><i class="fas fa-eye"></i></a></td>
                </tr>

              <tr>
                <td>256</td>
                <td>cneuf1</td>
                <td>proteur1</td>
                <td>drec</td>
                <td class="text-center"><i title="Attente de consolidation" class="fas fa-clock fa-lg" style="color:orange;"></i></td>
                <td class="text-center"><a href=""><i class="fas fa-eye"></i></a></td>
              </tr>

              <tr>
                  <td>256</td>
                  <td>cneuf1</td>
                  <td>proteur1</td>
                  <td>drec</td>
                  <td class="text-center"><i title="Consolider et en attente d'expert" class="fas fa-user-clock fa-lg" style="color:green;"></i></td>
                  <td class="text-center"><a href=""><i class="fas fa-eye"></i></a></td>
                </tr>

              <tr>
                  <td>256</td>
                  <td>cneuf1</td>
                  <td>proteur1</td>
                  <td>drec</td>
                  <td class="text-center"><i title="Consolider et assigner à un expert" class="fas fa-user fa-lg" style="color:green;"></i></td>
                  <td class="text-center"><a href=""><i class="fas fa-eye"></i></a></td>
                </tr>

                <tr>
                    <td>256</td>
                    <td>cneuf1</td>
                    <td>proteur1</td>
                    <td>drec</td>
                    <td class="text-center"><i title="Valider" class="fas fa-check-circle " style="color:green;"></i></td>
                    <td class="text-center"><a href=""><i class="fas fa-eye"></i></a></td>
                  </tr>

                  <tr>
                    <td>256</td>
                    <td>cneuf1</td>
                    <td>proteur1</td>
                    <td>drec</td>
                    <td class="text-center"><i title="Rejetter" class="fas fa-times-circle" style="color:red;"></i></td>
                    <td class="text-center"><a href=""><i class="fas fa-eye"></i></a></td>
                  </tr>
                  
             </table>
             <div class="text-center">
                <ul class="pagination">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
             </div>
            
             </div>
    
    </div>

  </div>
</div>