<div class="colors">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <div class="fond">
    <br>
    <div class=" sign-box">
      <form>
        <label>Adresse de messagerie</label>
        <input type="text" class="form-control input-sign" placeholder="Adresse de messagerie">
        <br>
        <label>Nouveau mot de passe</label> 
        <input type="text" class="form-control input-sign" placeholder="Nom d'utilisateur">
       <br>
        <label>Confirmer le nouveau mot de passe</label> 
        <input type="text" class="form-control input-sign" placeholder="Mot de passe">
       <br>
       <label>Nom d'utilisateur</label> 
       <input type="text" class="form-control input-sign" placeholder="Mot de passe">
      <br>
        <button class="btn" type="submit">Créer</button>
      </form>
     
  
  </div>