<div class="colors">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="fond">
    <br>
    <div class=" sign-box">
      <form name="form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm"  novalidate>

        <div class="form-group">
          <label>Nom complet</label>
        <input type="text" class="form-control input-sign" placeholder="Nom et prénom" name="name" [(ngModel)]="form.name" #name="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required/>
        <br>  
        <div *ngIf="f.submitted && name.invalid " class="alert alert-danger"> 
            Nom obligatoire !
          </div>
        </div>
          <br>
          <div class="form-group">
        <label>Nom d'utilisateur</label>
        <input type="text" class="form-control input-sign" placeholder="Nom d'utilisateur" name="username" [(ngModel)]="form.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
       
        <br>
        <div *ngIf="f.submitted && username.invalid" class="alert alert-danger">
          Nom d'utilisateur obligatoire !
        </div>
      </div>
        <br>
        <div class="form-group">
        <label>Adresse de messagerie</label>
        <input type="email" class="form-control input-sign" placeholder="Aresse de messagerie"  name="email" [(ngModel)]="form.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
        
        <br>
        <div *ngIf="f.submitted && email.invalid" class="alert alert-danger">
          <div *ngIf="email?.errors.required">Adresse de messagerie obligatoire !</div>
          <div *ngIf="email?.errors.email">Adresse de messagerie non valide !</div>
        </div>
      </div>
       <br>
       <div class="form-group">
        <label>Nouveau mot de passe</label>
        <input type="password" class="form-control input-sign" placeholder="Mot de passe" name="password" [(ngModel)]="form.password" #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
        <br>

        <div *ngIf="f.submitted && password.invalid" class="alert alert-danger">
            <div *ngIf="password?.errors.required">Mot de passe obligatoire !</div>
            <div *ngIf="password?.errors.minlength">le mot de passe doit contenir au moins 6 caractères !</div>
        </div>
      </div>
       <br>
        <button class="btn" type="submit"  >Créer</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
            Signup failed!<br/>{{errorMessage}}
          </div>
      </form>


  </div>
