 /* @import '~bootstrap/dist/css/bootstrap.min.css'; */
.navbar{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
h2 {
  
  text-align: center;
}
h3 {
  color: #6E237D;
}

body{
  font-family: "Open Sans";
 background-color: #F2F2F2;
 color: #535B64;
}
.page-content-wrapper{
   background-color: #F2F2F2;
}
.cnx{
  text-align: right;
}
.homeHeader{
  background-color: #6E237D;
  height: auto;
  color: white;  
  margin-top: 20px; 
  text-align: center;
  
  }
  .header-login{
    background-color: white ;
    padding-top: 2%;
    padding-bottom: 2%;

  }
  .test{
    color: #888888;
    padding-right: 8%;
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 1200px) {
    h2 {
      font-size: 20px;
      text-align: center;
    }
    .navbar{
      margin-top: 20px;
      margin-left: 2%;
      margin-right: 2%;
  }
  }
  
  