<app-header></app-header>
<div class="homeHeader">
    <div class="container">
      <h2>CAMPUS NUMERIQUES DE L'ESPACE UNIVERSITAIRE FRANCOPHONE</h2>
    </div>
    <div class="homeBody">
      <div class="container">
        <div class=" col-md-8 col-md-offset-2  col-sm-9  col-xs-9 col-xs-offset-1 half-circle">
          <div class="row row1">
            <a routerLink="/Descriptif">
              <div class="cercle1"><h5>C'est quoi un CNEUF?</h5></div>
            </a>
          </div>

          <div class="row row2">
              <a routerLink= "/Mods" class="col-md-6 col-sm-6 ">
                  <div class=" cercle2"><h5>Modalités</h5></div>
                </a>
              <a routerLink="/Acts" class="col-md-6 col-sm-6">
                  <div class="cercle3"><h5>Actualités</h5></div>
              </a>
          </div>

          <div class="row row3">
              <a routerLink="/signIn" class="col-md-6 col-sm-6 ">
                  <div class=" cercle4"><h5>Canditatures</h5></div>
                </a>
              <a href="https://app.powerbi.com/view?r=eyJrIjoiNWFhZmI2ZDYtMWY4NC00M2UwLWFmNGItYjJkMGM2MWYyOGYxIiwidCI6IjQyNTMyN2ZlLTY3OWItNDM2MC1hMzQ5LTNmNmQ1MTliM2MxMSIsImMiOjh9" class="col-md-6 col-sm-6">
                  <div class="cercle5"><h5>Cartographie</h5></div>
              </a>
          </div>

        </div>
      </div>

    </div>

</div>
<app-footer></app-footer>